@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

@import 'partials/card';
@import 'partials/sidebar';
@import 'partials/sectionOne';


// GENERAL

//* {outline: 1px solid black;}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Quicksand', 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    //background: radial-gradient(ellipse at bottom left, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25), rgba(42,60,87,0.4)), linear-gradient(135deg, #670d10, #092756);
}

.desktop {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 2rem $navW;
    transition: all 300ms ease;
    overflow: auto;
    color: white;
    p {
        font-weight: 300;
        text-align: justify;
        margin: 0 0 1rem 0;
    }
}

.container {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(10px);
    padding: 2em;
}

.scaler {
    backdrop-filter: blur(6px);
    scale: (0.95);
    //margin: 2em;
    @include transition;
    &:hover {
        backdrop-filter: blur(20px);
        scale: (1);
        @include transition;
    }
}

/*#five {
    align-items: center;
    background: #642B73;
    background: linear-gradient(to bottom, #C6426E, #642B73);
    display: flex;
    font-family: 'Open Sans', sans;
    justify-content: center;
    overflow: hidden;
    perspective: 1800px;
    text-align: center;
}*/

#two {
    background: linear-gradient(135deg, #30e8bf, #ff8235);
}

#three {
    background: linear-gradient(135deg,  #2c539e, #63967d);
}

#four {
    background: linear-gradient(135deg, #0B486B, #F56217);
}

#five {
    background: linear-gradient(135deg, #1fddff, #ff4b1f);
}

.hidden {
    display: none;
}


@import 'partials/media';