//Queries for big screens
@media screen and  (orientation: landscape) and (min-width:769px) {
        .card__one {
        .card__img {
            top: 49px;
            right: 37px;
            height: 92%;
        }
    }
}


@media screen and (orientation: portrait) {
    nav {
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        height: 4.3em;
        width: 100vw;
        &:hover {
            width: 100vw;
        }
        & ul {
            flex-direction: row;
            justify-content: center;
            //width: 100%;
            //height: 3em;
        }
    }

    .desktop {
        padding: $navW + 2rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    .card__one {
        & .card__img {
            top: 25px;
            right: 81px;
            height: 88%;
        }
    }
}

