//Queries for big screens
@media screen and  (orientation: landscape) and (min-width:769px) {
        .card__one {
        .card__img {
            top: 49px;
            right: 37px;
            height: 92%;
        }
    }
}

//Queries for small screens
@media screen and  (orientation: landscape) and (max-width:768px) {
    .desktop {
        padding: 1rem;
    }
}

@media screen and (orientation: portrait) and (max-width:768px) {
    #one {
        & .container {
            flex-direction: column;
            & div {
                height: 50%;
                width: 100%;
            }
        }
    }    

    .desktop {
        padding: 2rem 1rem;
        height: 100vh;
    }
    
    nav {
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        height: 4.3em;
        width: 100vw;
        &:hover {
            width: 100vw;
        }
        & ul {
            flex-direction: row;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 768px) { 
    .card__one {
        & .card__img {
            top: 25px;
            right: 81px;
            height: 88%;
        }
    }
}

