//Queries for big screens
@media screen and  (orientation: landscape) and (min-width:769px) {
    
    .card__one {
        .card__img {
            top: 20px;
            //right: 37px;
            height: 100%;
        }
    }

}

//Queries for small screens
@media screen and  (orientation: landscape) and (max-width:768px) {
    
    .desktop {
        padding: 1rem;
    }

}

@media screen and (orientation: portrait) and (max-width:768px) {
    
    #one {
        & .container {
            flex-direction: column;
            & div {
                height: 50%;
                width: 100%;
            }
        }
    }    

    .desktop {
        padding: 1em 1em 5.3em 1em;
        height: 100vh;
    }

}

@media screen and (max-width: 768px) { 
    
    .card__one {
        & .card__img {
            top: 25px;
            right: 81px;
            height: 88%;
        }
    }
    
}

