#one {
    //background-image: url(../img/bg2.png);

    //background: linear-gradient(135deg, #29323c, #5f7083); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url(../img/nbg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    & .container {
        display: flex;
        align-items: center;
        justify-content: center;
        //color: rgb(105, 105, 105);
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
    }

    & h2 {
        font-size: 18px;
    }
}

.photo {
    max-width: 20em;
    max-height: auto;
    & img {
        border-radius: 50%;
        max-width: 100%;
    }
}

/*#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}*/