#one {
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    & .container {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(105, 105, 105);
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
    }

    & h2 {
        font-size: 18px;
    }
}

.photo {
    max-width: 20em;
    max-height: auto;
    & img {
        border-radius: 50%;
        max-width: 100%;
    }
}