@import url('https://fonts.googleapis.com/css?family=Mukta:700');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

$bg: #f3f8fa;
$white: #fff;
$black: #282936;
$navW: 9rem;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
}

.nav-computer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    //margin: 0 .5em;
    width: $navW;
    height: 100%;
    //background: $navColor;
    transition: all 300ms ease;
    overflow: hidden;
    z-index: 3;

    * {
        user-select: none;
    }
    & ul {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-width: 100vw;
        & li {
        display: table-row;
        cursor: pointer;
        }
    }
}

//NAVIGATION FOR MOUSE DEVICES

.nav-button-computer {
    margin: 0.6em 0;
    button {
        position: relative;
        left: 30%;
        //transition: left 0.45s ease;
        @include transition;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        opacity: 0.4;
        &.learn-more {
            width: 9rem;
            height: auto;           
            .button-text {
            @include transition;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: transparent;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            }
        }
        &:hover {
            left: 0;
            opacity: 0.8;
            .circle {
            width: 100%;
            .icon {
                &.arrow {
                background: $white;
                transform: translate(1rem, 0);
                }
            }
            }
            .button-text {
            color: $white;
            }
        }
    }
}

.circle {
    @include transition;
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: $black;
    border-radius: 1.625rem;
    .icon {
        @include transition;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
            @include transition;
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
                position: absolute;
                content: '';
                top: -0.25rem;
                right: 0.0625rem;
                width: 0.625rem;
                height: 0.625rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg);
            }
        }
    }
}

//NAVIGATION FOR TOUCHSCREEN DEVICES

.nav-mobile {
    position: absolute;
    top: calc(100vh - 4.3em);
    left: 0;
    right: 0;
    height: 4.3em;
    width: 100vw;
    //display: flex;
    z-index: 5;
    & ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        & li {
            display: table-row;
            background: transparent;
            & button {
                background: transparent;
                border: none;
                color: white;
                & i {
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    padding: 0.5em;
                    color: white;
                    font-size: 2em;
                }
            }
           
        }
    }
}